<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463190675046-24q2pr4gqhu3mtlah53vie5su7hb4d8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463190675046-24q2pr4gqhu3mtlah53vie5su7hb4d8h</string>
	<key>API_KEY</key>
	<string>AIzaSyBeIH7JyY7VG8byy0nomTKZ8sKfblFE6Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>463190675046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petCare</string>
	<key>PROJECT_ID</key>
	<string>pet-care-814d9</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-care-814d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463190675046:ios:596b2251ec5f49f775a7a7</string>
</dict>
</plist>